.jr-top-nav {
    background-color:	#cd5c5c;
    border: 1px solid #cd5c5c;
  }
  
  .jr-top-nav .navbar-nav > li > a {
    color: #fff;
  }
  
  .jr-top-nav .navbar-brand {
    color: #fff;
    padding: 5px 10px;
  }
  